@media (max-width: 1200px) {
  .image-box img,
  .main-content {
    max-width: 500px;
  }
  .content {
    justify-content: center;
  }
}
@media (max-width: 1100px) {
  .image-box img,
  .main-content {
    max-width: 470px;
  }
}
@media (max-width: 1040px) {
  .image-box img,
  .main-content {
    max-width: 435px;
  }
  .working_content {
    padding-block: 80px;
  }
}
@media (max-width: 970px) {
  .image-box img,
  .main-content {
    max-width: 400px;
  }
  .btn-box button {
    padding: 13px 25px;
    font-size: 16px;
  }
  .park-img {
    display: none;
  }
  .park-2 {
    display: flex;
  }
}
@media (max-width: 900px) {
  .image-box img,
  .main-content {
    max-width: 370px;
  }
}
@media (max-width: 840px) {
  .image-box img,
  .main-content {
    max-width: 340px;
  }
  .btn-box button {
    padding: 13px 23px;
    font-size: 14px;
  }
  .park-2 {
    margin: 0 auto;
    flex-direction: column;
  }
}
@media (max-width: 780px) {
  .image-box img,
  .main-content {
    max-width: 300px;
  }
  .btn-box button {
    padding: 11px 20px;
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  .image-box img,
  .main-content {
    max-width: 270px;
  }
  .btn-box button {
    padding: 11px 18px;
    font-size: 13px;
  }
  .text-container {
    gap: 38px;
  }
  .working_content {
    padding-block: 30px;
  }
}
@media (max-width: 630px) {
  #main {
    padding-block: 30px;
  }
  .main {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .section {
    flex-direction: column;
    padding-top: 50px;
    gap: 30px;
  }
  .image-box img,
  .main-content {
    max-width: 100%;
  }
  .header {
    justify-content: space-between;
    width: 100%;
  }
  .header nav a {
    display: none;
  }
  .burger {
    display: flex;
  }
  .btn-box {
    padding-block: 23px;
  }
  .text-container div {
    line-height: 5px;
  }
  .content {
    gap: 20px;
  }
  .working_content {
    padding-top: 50px;
  }
}
