* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background: rgb(1, 2, 8);
}
h1 {
  font-family: Orbitron;
  color: #fff;
}
a {
  font-family: Poppins;
  color: #fff;
}
p {
  font-size: clamp(0.875rem, 0.797rem + 0.39vw, 1.25rem);
  color: #fff;
  font-family: Poppins;
  line-height: 30px;
}
.container {
  max-width: 1850px;
  width: 100%;
  padding-inline: 50px;
  padding-inline: auto;
  @media (max-width: 530px) {
    padding-inline: 20px;
  }
}
#header {
  padding-block: 35px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header h1 {
  font-size: clamp(1.5rem, 1.356rem + 0.72vw, 2.188rem);
}
.header nav a {
  transition: 1s ease;
}
.header nav a:hover {
  color: rgb(208, 13, 208);
  transform: translateY(-8px);
}
.burger {
  color: white;
  display: none;
  font-size: clamp(1.563rem, 0.781rem + 3.57vw, 2.188rem);
}
/*! modal menu  */
.modal_menu {
  position: fixed;
  top: 20px;
  right: 0px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  backdrop-filter: blur(8px);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.modal_menu span {
  color: #fff;
  font-size: clamp(1.563rem, 0.781rem + 3.57vw, 2.188rem);
  font-weight: 500;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu a {
  color: #ffffff;
  font-weight: 400;
  padding: 10px 15px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}
.menu a:hover {
  color: rgb(208, 13, 208);
  transform: scale(1.05);
}
/*! modal menu  */

/*! main */
#main {
  padding-block: 90px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-content,
.metaverse {
  max-width: 530px;
}
.main-content h1 {
  font-size: clamp(1.25rem, 0.923rem + 1.63vw, 2.813rem);
  padding-bottom: 18px;
}
.main-content h1 span {
  font-family: Orbitron, sans-serif;
  background: linear-gradient(
    158.4deg,
    rgb(209, 14, 209) 10.9%,
    rgb(16, 163, 218) 88.221%
  );
  color: transparent;
  background-clip: text;
}
.btn-box {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 40px;
}
.btn-box button {
  display: inline-block;
  padding: 13px 35px;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  position: relative;
  background-color: black;
  cursor: pointer;
  transition: 1.3s;
  border: none;
}
button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  padding: 2px;
  background: linear-gradient(90deg, #ff0080, #0078ff);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
button:hover {
  background: linear-gradient(90deg, #ff0080, #0078ff);
  color: rgba(255, 255, 255, 1);
}
button:hover:before {
  background: linear-gradient(90deg, black, black);
}
.text-container {
  padding-top: 40px;
  display: flex;
  align-items: center;
  gap: 58px;
}
.text-container div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.text-container h1 {
  font-size: clamp(1rem, 0.895rem + 0.52vw, 1.5rem);
}
.text-container span {
  font-weight: 400;
  font-family: Poppins;
  font-size: clamp(0.875rem, 0.823rem + 0.26vw, 1.125rem);
  color: #fff;
}
.image-box {
  max-width: 566px;
}
.image-box img {
  width: auto;
}
/*! main end*/
/*! Section */
.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}
/*! Section end*/
/*! Section2*/
.working_content {
  padding-block: 100px;
  margin: 0 auto;
  max-width: 775px;
  text-align: center;
}
.working_content h1 {
  font-size: clamp(1.25rem, 0.923rem + 1.63vw, 2.813rem);
  padding-bottom: 20px;
}
.working_content h1 span {
  font-family: Orbitron, sans-serif;
  background: linear-gradient(
    158.4deg,
    rgb(209, 14, 209) 10.9%,
    rgb(16, 163, 218) 88.221%
  );
  color: transparent;
  background-clip: text;
}
.working_content p {
  margin: 0 auto;
  max-width: 670px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.card {
  padding: 18px 19px;
  max-width: 375px;
  width: 100%;
  height: 470px;
  background: rgba(9, 8, 35, 1);
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  transition: 1s ease-in;
}
.card img {
  width: 100%;
}
.card h1 {
  padding-block: 20px;
  font-size: clamp(1rem, 0.895rem + 0.52vw, 1.5rem);
}
.card p {
  font-size: 14px;
  line-height: 25px;
}
.card:hover {
  transform: translateY(-20px);
}
/*! Section2 end*/

/*! Section3 start */
#activity {
  padding-block: 10px;
}
.activity {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.park-img {
  overflow-x: auto;
  display: flex;
  gap: 100px;
}
.park-img img:first-child {
  animation: img11 20s infinite ease-in-out;
}
@keyframes img11 {
  0% {
    margin-left: 1%;
    width: 100%;
  }
  50% {
    margin-left: -50%;
    width: 100%;
  }
  100% {
    margin-right: 0%;
    width: 100%;
  }
}
.box-play {
  max-width: 375px;
}
.box-play img {
  border-radius: 20px;
  width: 100%;
}
.park-2 {
  display: none;
  justify-content: space-between;
}
.play-circle {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.play-circle p {
  font-size: clamp(2.188rem, 2.057rem + 0.65vw, 2.813rem);
}
.play-circle h1 {
  font-size: clamp(1rem, 0.895rem + 0.52vw, 1.5rem);
}
/*! Section3 end */

/*! footer start  */
#footer {
  padding-block: 80px;
  margin-top: 224px;
  background-color: rgb(9, 8, 35);
}
.footer {
  display: flex;
  justify-content: space-between;
  gap: clamp(1.563rem, 1.432rem + 0.65vw, 2.188rem);
}
.metav {
  max-width: 504px;
}
.metav h1 {
  font-size: clamp(1.875rem, 1.614rem + 1.31vw, 3.125rem);
  font-family: Orbitron, sans-serif;
  background: linear-gradient(
    158.4deg,
    rgb(209, 14, 209) 10.9%,
    rgb(16, 163, 218) 88.221%
  );
  color: transparent;
  background-clip: text;
}
.metav p {
  margin-top: 23px;
  color: rgba(255, 255, 255, 0.8);
}

ul li {
  color: rgba(255, 255, 255, 1);
  font-size: clamp(0.813rem, 0.747rem + 0.33vw, 1.125rem);
  font-family: Poppins;
  line-height: clamp(1.563rem, 1.366rem + 0.98vw, 2.5rem);
}
ul li:first-child {
  font-family: Orbitron;
  font-size: clamp(1rem, 0.948rem + 0.26vw, 1.25rem);
  font-weight: 700;
  margin-bottom: 10px;
}
.icons-ap {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-block: 10px;
}
.logo {
  color: #fff;
  font-size: clamp(1rem, 0.882rem + 0.59vw, 1.563rem);
}
/*! footer end  */
