* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: rgb(1, 2, 8);
}
h1 {
  font-family: Orbitron;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1850px;
  padding-inline: 40px;
  margin-inline: auto;
  background: container;
}
#header {
  padding-block: 30px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header nav a {
  font-family: Poppins;
  color: #fff;
}
.header h1 {
  font-size: 22px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-img {
  max-width: 700px;
}
.main-img img {
  width: 100%;
}
